@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cta-text: hsl(356, 100%, 66%);
    --cta-hover-bg: hsl(355, 100%, 74%);
    --headings: hsl(208, 49%, 24%);
    --text: hsl(0, 0%, 100%);
    --footer-text: hsl(240, 2%, 79%);
    --body-copy: hsl(207, 13%, 34%);
    --footer-bg: hsl(240, 10%, 16%);
}
.align-content{
    --min: 0;
    --max: 1440px;
    display: grid;
    grid-template-columns: minmax(var(--min),1fr) minmax(320px,var(--max)) minmax(var(--min),1fr);
}
.align-content > * {
    grid-column: 2;
}
body{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center; 
}

/*---------=====header=====---------*/

header{
    background: linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem 0 8rem 0;
    border-bottom-left-radius: 6rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
header::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/bg-pattern-intro-mobile.svg) no-repeat;
    background-size: 300%;
    background-position: -270px -200px;
    z-index: -1;
    pointer-events: none;
    animation: rotate 15s linear infinite;
    -webkit-animation: rotate 15s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    25%{
        transform: rotate(2.5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    75%{
        transform: rotate(-2.5deg);
        -webkit-transform: rotate(-2.5deg);
        -moz-transform: rotate(-2.5deg);
        -ms-transform: rotate(-2.5deg);
        -o-transform: rotate(-2.5deg);
}
    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}

/*=========
----nav----
=========*/

header nav{
    width: 100%;
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.nav__logo{
    max-width: 80px;
}
.nav__list{
    display: none;
}
.nav__login{
    display: none;
}

/*hamburger-menu*/

.nav__menu{
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav__menu .hamburger,
.hamburger::before,
.hamburger::after{
    position: absolute;
    content: '';
    left: 0;
    width: 2rem;
    height: 2px;
    background: var(--text);
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
}
.hamburger::before{
    transform: translateY(-.5rem);
    -webkit-transform: translateY(-.5rem);
    -moz-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    -o-transform: translateY(-.5rem);
}
.hamburger::after{
    transform: translateY(.5rem);
    -webkit-transform: translateY(.5rem);
    -moz-transform: translateY(.5rem);
    -ms-transform: translateY(.5rem);
    -o-transform: translateY(.5rem);
}

/*header-text*/

.header__text{
    color: var(--text);
    padding: 0 2.5rem;
}
.header__text h1{
    font-size: 2rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}
.header__text--links{
    display: grid;
    grid-template-columns: minmax(auto, 160px) minmax(auto, 160px);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem;
}
.header__text--links a{
    color: var(--cta-text);
    background: var(--text);
    font-size: .95rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    padding: .75rem 1rem;
    border: 2px solid var(--text);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.header__text--links #learn-more{
    color: var(--text);
    background: transparent;
}


/*---------=====main=====---------*/

main p{
    color: var(--body-copy);
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    line-height: 1.65;
}

/*===========
----intro----
===========*/

main .intro{
    padding: 5.5rem 1.5rem;
}
.intro h2{
    color: var(--headings);
    font-size: 1.75rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    margin-bottom: 2.75rem;
}
.intro__flex{
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
}
.intro__flex--img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}
.intro__flex--img picture{
    width: 150%;
    margin: 0 auto;
}
.intro__flex--text{
    display: grid;
    gap: 3rem;
    padding: 0 1rem;
}
.intro__flex--text-section h3{
    color: var(--headings);
    font-size: 1.6875rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    margin-bottom: .75rem;
}